[Unit]
Description=Wifi AP manager for Rpi
Documentation=
After=network-online.target
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
RemainAfterExit=yes
WorkingDirectory=/home/pi/klipper_addon_de/wifi_ap_manager
ExecStart=/home/pi/klippy-env/bin/python /home/pi/klipper_addon_de/wifi_ap_manager/wifi_ap_manager.py
Restart=on-failure
RestartSec=10
